* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(244, 208, 78);
    font-size: 16px;
    font-family: 'Figtree', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.card{
    margin: 14% auto;
    width: 32%;
    height: 100%;
    background: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 5px;
}
.img{
    
}
.btn-card{
    background-color: rgb(244, 208, 78);
    border: 1px solid black;
    border-radius: 5px;
}